@if (profile) {
  <div
    class="bg-[color:var(--qr-gray-light)] w-full sm:w-auto p-6 rounded-lg flex flex-col items-center justify-center self-stretch h-full"
  >
    <canvas #qrCodeContainer class="g"></canvas>

    <p class="font-bold text-md mt-3 text-black tracking-wide">{{ profile.readerId }}</p>
  </div>
} @else {
  <div
    class="bg-[color:var(--qr-gray-light)] w-full sm:w-auto p-6 rounded-lg flex flex-col items-center justify-center self-stretch h-full min-h-[150px]"
  >
    <mat-spinner diameter="40"></mat-spinner>
  </div>
}
