<div class="bg-[color:var(--book-bg)] rounded-lg shadow p-2 flex flex-col items-center w-full"
     style="max-width:11rem; min-height:18rem;">
  <div class="overflow-hidden w-full rounded-lg mb-1 aspect-[8/10]">
    <img
      [src]="imgSrc"
      [alt]="title"
      class="w-full object-cover"
    />
  </div>
  <div class="flex flex-col flex-grow w-full items-center">
    <div class="text-xs font-semibold mb-1 text-[color:var(--base-gray-darker)] text-center truncate w-full">{{ title }}</div>
    <div class="text-xs text-[color:var(--base-gray-darker)] mb-1 text-center truncate w-full">{{ author }}</div>
  </div>
  <div class="flex gap-2 justify-center w-full mt-auto m-1">
    <button class="px-2 py-1 rounded bg-[color:var(--details-bt)] text-[color:var(--book-bg)] text-xs font-semibold shadow"
            (click)="openDetails()">
      Szczegóły
    </button>
    <button
      class="px-2 py-1 rounded bg-[color:var(--availability-bt)] text-[color:var(--base-blue-lighter)] border border-[color:var(--base-blue-lighter)] box-border text-xs font-semibold shadow">
      Dostępność
    </button>
  </div>
</div>
