@if (userProfile$ | async; as profile) {
  <div
    style="background-color: var(--base-blue-lighter80)"
    class="text-[color:var(--base-white)] font-[Roboto] font- py-4 pr-4 pl-4 rounded-lg w-full sm:w-auto min-h-[200px] flex flex-col justify-center shadow-xl h-full"
  >
    <p class="text-sm tracking-wide">Imię i Nazwisko:</p>
    <p class="font-bold text-lg mb-2 tracking-wider">{{ profile.name }} {{ profile.surname }}</p>

    <p class="text-sm tracking-wide">Adres E-Mail:</p>
    <p class="font-bold text-lg mb-2 tracking-wider">{{ profile.email }}</p>

    <p class="text-sm tracking-wide">Numer telefonu:</p>
    <p class="font-bold text-lg mb-2 tracking-wider">{{ profile.phone }}</p>
  </div>
} @else {
  <div class="p-4 bg-gray-100 rounded-lg w-full min-h-[200px] flex items-center justify-center">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
}
