:host {
  display: contents;
}

.active-link {
  position: relative;
  color: inherit;
  font-weight: 400 !important;

  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: var(--nav-underline-active);
  }
}

.active-link-account {
  position: relative;
  font-weight: 400 !important;
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #6e9fe0;
  }
}

.active-mobile-link {
  position: relative;
  border-radius: 9999px;
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.1); /* Subtelne tło */
}


.account-dropdown {
  &:hover {
    .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    .dropdown-arrow {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu {
  min-width: 160px;
}

.logout-btn {
  &:hover {
    mat-icon {
      transform: translateX(3px) scale(0.7);
    }
  }
}


.contrast-toggle {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: inherit;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.contrast-toggle:focus {
  outline: 3px solid #ffed00;
  outline-offset: 2px;
}

.contrast-toggle[aria-pressed='true'] {
  color: var(--base-gray-light); /* Lub inny kolor wyróżnienia */
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.3);
}
