<!-- Mobile Navbar Component -->

<footer
  class="md:hidden bg-[var(--base-blue-dark)] h-16 flex items-center justify-around fixed bottom-0 left-0 right-0 z-10"
>
  <div class="absolute inset-x-0 -top-8 flex justify-center">
    <button
      class="w-[65px] h-[65px] bg-[#173152] text-white rounded-full flex items-center justify-center"
    >
      <mat-icon class="scale-[1.875]" fontIcon="qr_code" aria-hidden="true"></mat-icon>
    </button>
  </div>
  @for (item of mobileNavItems; track item.label) {
    <a
      [routerLink]="[item.link]"
      class="flex flex-col items-center text-xs text-white p-2 transition duration-150"
      [class.active-mobile-link]="item.label === currentPage()"
    >
      <mat-icon fontIcon="{{ item.icon }}" aria-hidden="true"></mat-icon>

      <span class="mt-1">{{ item.label }}</span>
    </a>
  }
</footer>

<!-- Desktop Navbar Component -->
<header
  class="hidden md:flex bg-[var(--base-blue-dark)] text-white h-16 shadow-lg px-8 items-center justify-between font-[Inter]"
>
  <div class="flex items-center gap-8 justify-center">
    <a [routerLink]="['/']" class="flex items-center gap-4">
      <img src="/logo.svg" alt="Logo w kształcie książki" class="h-auto object-cover md:w-12" />
      <span class="text-white text-base font-bold tracking-widest font-[Inter]">BIBLIOTEKA</span>
    </a>

    <nav class="flex h-full gap-4">
      @for (item of desktopNavItems; track item.label) {
        <a
          [routerLink]="[item.link]"
          class="flex flex-col justify-center cursor-pointer hover:text-blue-300 transition duration-150 text-base font-light font-[Inter] tracking-wide"
          [class.active-link]="item.label === currentPage()"
        >
          {{ item.label }}
        </a>
      }
    </nav>
  </div>
  <a
    [routerLink]="['/profil']"
    class="flex items-center hover:text-blue-300 transition duration-150 text-base font-light font-[Inter] tracking-wide gap-1"
  >
    <mat-icon
      class="material-icons-outlined scale-[0.85]"
      fontIcon="person"
      aria-hidden="true"
    ></mat-icon>
    <span>Moje konto</span>
  </a>
</header>
