<div class="bg-[color:var(--base-gray-light)] rounded-lg mb-3">
  <div
    class="py-2 px-3 border-s-4 border-[color:var(--base-border-gray)] rounded-lg flex flex-col sm:flex-row sm:justify-between sm:items-center"
  >
    <p class="font-light text-[color:var(--base-gray-darker)] text-sm mb-1 sm:mb-0 sm:mr-4">
      <span class="font-normal text-[color:var(--base-gray-darker)]">"{{ fullDescription }}"</span>
    </p>
    <p class="text-xs text-[color:var(--base-gray-darker)] sm:text-right whitespace-nowrap">
      Wypożyczono: {{ dateRented }} | Zwrot: <span class="font-bold">{{ dateReturned }}</span>
    </p>
  </div>
</div>
