@if (loading()) {
  <div>Ładowanie wypożyczonych książek...</div>
} @else {
  @if (rentals().length === 0) {
    <p class="text-[color:var(--base-gray-lighter)] text-lg text-center my-6">
      Brak aktywnych wypożyczeń.
    </p>
  } @else {
    @for (rental of itemsToDisplay(); track rental.id) {
      <app-profile-book-item
        [itemId]="rental.id"
        [title]="rental.item.title"
        [author]="rental.item.author!"
        [coverText]="rental.item.title"
        [date]="rental.rentalDueDate!"
        [statusType]="'rent'"
        [imageUrl]="rental.item.imageUrl"
        [branchId]="rental.branchId"
        [rentExtended]="rental.isRentExtended!"
        (extendRental)="onRentalExtended($event)"
      ></app-profile-book-item>
    }

    @if (rentals().length > 2) {
      <button
        class="w-full py-2 px-4 mt-2 bg-[color:var(--white-to-yellow)] border border-[color:var(--base-gray-lighter)] text-[color:var(--book-details-text-darker)] font-normal rounded-lg hover:bg-[color:var(--light-gray-to-light-yellow)] transition duration-150 cursor-pointer"
        (click)="openBooksDialog()"
      >
        Zobacz wszystkie aktywne wypożyczenia
      </button>
    }
  }
}
